{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}

    <h1 class="text-center text-decoration-underline">{{ event.title }}</h1>

    <div class="container">

        <h1 class="text-center my-4">EN TRAVAUX</h1>


    </div>

{% endblock %}
