{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <p class="fw-bolder text-center p-4">Crée dans l’élan de la promulgation de la loi « pour l’égalité des droits et des chances, la participation et la citoyenneté des personnes handicapées » du 11 février 2005, dite loi handicap, la l’association Handicap’s en Pays Beaujolais  (HPB) s’est donnée pour mission de sensibiliser, former et informer les personnes sur la notion d’inclusion de la personne en situation de handicap dans toutes les structures et situations de la vie sociale. Toutes les formes de handicap sont prises en compte et surtout, toutes les situations de la vie courante où une personne, du fait de son handicap, se trouve discriminée par rapport à une autre. C’est une association qui revendique le droit à la différence et la participation de chacun. Les membres peuvent être des aidants, des personnes en situation de handicap, des structures du monde du handicap et toute personne qui souhaite s’investir dans le champ du handicap.</p>

{% endblock %}