/*-------------------- IMPORTS --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*-------------------- HTML ELEMENTS --------------------*/
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/*-------------------- CUSTOM CLASSES --------------------*/

.hidden-article{
    background-color: #f5f5f5;
    border: solid 2px black;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.legend-adherent-list{
    border: solid 2px black;
    border-radius: 6px;
    width: 80%;
    padding: 16px;
    margin-left: 10%;
}
.vert{
    background-color: yellowgreen !important;
}
.blanc{
    background-color: white !important;
}
.warning-article-to-delete{
    border: solid 2px black;
    border-radius: 6px;
    width: 80%;
    padding: 16px;
    margin-left: 10%;
    background-color: #e8deb7;
}

.image-logo{
    width: 100px;
}

.image-footer{
    width: 200px;
}

.dropdown-choice{
    background-color: yellowgreen;
    color: white;
}

.navbar-nav>.nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    width: 200px;
    background-color: yellowgreen;
}

.nav-icon{
    width: 50px;
    height: 50px;
    color: yellow;
}


.image-cover{
    background-position: center;
    background-size: cover;
    height: 600px;
    border: 2px solid;
    border-radius: 25px;
}

.toolbar{
    border: 3px solid;
    position: absolute;
    left: 0;
    top: 25%;
    width: 50px;
    height: 500px;
    background-color: darkorange;
}

.button-global{
    width: 250px;
    text-align: center;
    display: block;
    border: 1px solid black;
    border-radius: 6px;
}

.button-global:hover{
    cursor: pointer;
}

.dropdown>.btn{
    background-color: yellowgreen;
    color: white;
}

/* BGCs */
.bg-custom-green{
    background-color: yellowgreen;
}

.bg-custom-dark-celadon{
    background-color: #b9d78f;
}

/* COLORs */
.text-color-dark-celadon{
    color: #063b25;
}

/* Custom-Commentaires */

.article-comments-card {
    border: 1px solid black;
    box-shadow: 5px 6px 6px 2px #9b9b9b;
    border-radius: 4px
}
