
.colors {
    width: border-box;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 1rem;
    display: flex;
    flex-direction:row;
}
.orange body {
    background: white;
}
======
.blue body{
    background: #4b88bb;
    color: orange;
}
.blue p{
    background: #4b88bb;
    color: orange;
}
.blue div{
    background: #4b88bb;
    color: orange;
}
.blue h2{
    background: #06357a;
    color: orange;
}
.blue .breadcrumb-item{
    background: #4b88bb;
    color: orange;
}
.blue a{
    color: orange;
}
=======
.red body{
    background: #d84b3d;
    color: #0d6efd;
}
.red p{
    background: #d84b3d;
    color: #0d6efd;
}
.red div{
    background: #d84b3d;
    color: #0d6efd;
}
.red h2 {
    background: #6a1a21;
    color: #0d6efd;
}
.red .breadcrumb-item{
    background: #d84b3d;
    color: #0d6efd;
}
.red a{
    color: #0d6efd;
}
=====
.green body {
    background: #90a959;
    color: purple;
}
.green p {
    background: #90a959;
    color: purple;
}
.green div {
    background: #90a959;
    color: purple;
}
.green h2 {
    background: darkgreen;
    color: purple;
}
.green .breadcrumb-item{
    background: #90a959;
    color: purple;
}
.green a{
    color: purple;
}
=======
.black body {
    background: #343437;
    color: white;
}
.black p{
    background: #343437;
    color: white;
}
.black div {
    background: #343437;
    color: white;
}
.black h2 {
    background: #343437;
    color: white;
}
.black body {
    background: #343437;
    color: white;
}
.black .breadcrumb-item{
    background: #343437;
    color: white;
}
.black a{
    color: white;
}
======
.pink body{
    background: deeppink;
    color: chartreuse;
}
.pink p{
    background: deeppink;
    color: chartreuse;
}
.pink div{
    background: deeppink;
    color: chartreuse;
}
.pink h2{
    background: deeppink;
    color: chartreuse;
}
.pink .breadcrumb-item{
    background: deeppink;
    color: chartreuse;
}
.pink a{
    color: chartreuse;
}
======
.list-items .contra {
    padding: 0.5em 1em;
    background: #68686a;
    border: 0;
    color: #fff;
    border-radius: 0.25em;
    transition: 0.2s ease-in-out;
}
.blue .list-items .contra {
    background: #4b88bb;
}
.red .list-items .contra {
    background: #d84b3d;
}
.green .list-items .contra {
    background: #90a959;
}
.black .list-items .contra {
    background: #343437;
}
.orange .list-items .contra {
    background:white;
}
.pink .list-items .contra {
    background: deeppink;
}


.list-items button.alt {
    background: #fefefe;
    color: #343437;
    border: 1px solid #343437;
}
.blue .list-items button.alt {
    color: #4b88bb;
    border-color: #4b88bb;
}
.red .list-items button.alt {
    color: #d84b3d;
    border-color: #d84b3d;
}
.green .list-items button.alt {
    color: #90a959;
    border-color: #90a959;
}
.black .list-items button.alt {
    color: #343437;
    border-color: #343437;
}
.orange .list-items button.alt {
    color: white;
    border-color: black;
}
.pink .list-items button.alt {
    color: deeppink;
    border-color:deeppink;
}

.latbar{
    display: flex;
    flex-direction: row;
    background-color: yellowgreen;
    border-radius: 15px;
    align-items: center;
    width: inherit;
    margin: 5px;
    padding: 5px 5px 5px 20px;
}

.bttn {
    background: #68686a;
    color: #fff;
    padding: 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 5rem;
    height: 3rem;
    overflow: hidden;
    border: 0.25rem solid #000000;
    margin-bottom: 0.5rem;
}
.bttn[data-color="red"] {
    background: #d84b3d;
}
.bttn[data-color="blue"] {
    background: #4b88bb;
}
.bttn[data-color="green"] {
    background: #90a959;
}
.bttn[data-color="orange"] {
    background: white;
}
.bttn[data-color="pink"] {
    background: #e8a0e2;
}
.bttn[data-color="black"] {
    background: #343437;
}

/*====== Version Simplifier====*/
.versimp .list-items button.alt {
    color: white;
    border-color: wheat;
}
.bttn[data-color="versimp"] {
    background: white;
}
.versimp body{
    background-color: black;
    color: white;
    font-size: xxx-large;
    text-align: center;
    text-decoration: none;

}
.versimp article{
    background-color: black;
    color: white;
    font-size: xxx-large;
    text-align: center;
    text-decoration: none;
}
.versimp p{
    background-color: black;
    color: white;
    font-size: xxx-large;
    text-align: center;
    text-decoration: none;
}
.versimp div{
    background-color: black;
    color: white;
    font-size: xxx-large;
    text-align: center;
    text-decoration: none;
}
.versimp *{
    background-color: black;
    color: white !important;
    font-size: xxx-large;
    text-align: center;
    text-decoration: none;
}
.versimp li{
    color: black;
    background-color: white;
    font-size: xxx-large;
    text-align: center;
    text-decoration: none;
}
.versimp .closebtn{
    color: black;
    background-color: white;
    font-size: xxx-large;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    align-items: center;
}
.versimp #navbarDropdown {
    color: black;
    background-color: white;
    font-size: xxx-large;
    text-align: center;
    text-decoration: none;
}
.versimp .nav-item {
    color: black;
    background-color: white;
    font-size: xxx-large;
    text-align: center;
    text-decoration: none;
}
.versimp .nav-link {
    color: black;
    background-color: white;
    font-size: xxx-large;
    text-align: center;
    text-decoration: none;
}
.versimp .alerfocus {
    color: black;
    background-color: darkred !important;
    font-size: xxx-large;
    text-align: center;
    text-decoration: none;
}
.versimp .breadcrumb-item {
    color: white;
    background-color: black;
    font-size: xxx-large;
    text-align: center;
    text-decoration: none;
}