
.colors {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #2f2f2f;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.orange body {
    background: #deefc2;
}
.blue body {
    background: #4b88bb;
    color: orange;
}
.red body {
    background: #d84b3d;
    color: #0d6efd;
}
.green body {
    background: #90a959;
    color: purple;
}
.black body {
    background: #343437;
    color: white;
}
.list-items .contra {
    padding: 0.5em 1em;
    background: #68686a;
    border: 0;
    color: #fff;
    border-radius: 0.25em;
    transition: 0.2s ease-in-out;
}
.blue .list-items .contra {
    background: #4b88bb;
}
.red .list-items .contra {
    background: #d84b3d;
}
.green .list-items .contra {
    background: #90a959;
}
.black .list-items .contra {
    background: #343437;
}
.orange .list-items .contra {
    background:#deefc2;
}
.list-items button.alt {
    background: #fefefe;
    color: #343437;
    border: 1px solid #343437;
}
.blue .list-items button.alt {
    color: #4b88bb;
    border-color: #4b88bb;
}
.red .list-items button.alt {
    color: #d84b3d;
    border-color: #d84b3d;
}
.green .list-items button.alt {
    color: #90a959;
    border-color: #90a959;
}
.black .list-items button.alt {
    color: #343437;
    border-color: #343437;
}
.orange .list-items button.alt {
    color: #f7b669;
    border-color: #f7b669;
}
.bttn {
    background: #68686a;
    color: #fff;
    padding: 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border: 0.25rem solid #fff;
    font-size: 0;
    margin-bottom: 0.5rem;
}
.bttn[data-color="red"] {
    background: #d84b3d;
}
.bttn[data-color="blue"] {
    background: #4b88bb;
}
.bttn[data-color="green"] {
    background: #90a959;
}
.bttn[data-color="orange"] {
    background: #f7b669;
}
.bttn[data-color="pink"] {
    background: #e8a0e2;
}
.bttn[data-color="black"] {
    background: #343437;
}