{% extends 'base.html.twig' %}

{% block title %}Accueil Alerte - Inclusion{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 form-container">
            <div class="col-lg-8 col-md-12 col-10 offset-2 form-box text-center my-5">

                {# Titre de la page de création d'alerte #}
                <div class="heading mb-5 fw-bold">
                    <h1 class="fs-1">Qu'est ce qu'une Alerte - Inclusion ?</h1>
                </div>

                <p class="fs-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet consequatur culpa ex facere libero molestias neque nobis ratione ut! Ab animi eaque illum incidunt inventore nulla numquam optio quae qui ut? Aspernatur cupiditate enim ipsum iste minus repudiandae saepe sit tempora voluptas voluptatem. Aliquid amet consequatur doloribus enim est facilis itaque neque nesciunt nisi nobis numquam, pariatur, quaerat, quibusdam sint vel vero voluptate? Amet cumque, distinctio ducimus ea eos harum incidunt possimus recusandae veritatis. Aspernatur consectetur deleniti dolores ducimus officiis omnis perspiciatis repellat reprehenderit. Asperiores atque aut culpa, cupiditate debitis deleniti distinctio eaque earum esse expedita facilis illum impedit laboriosam libero maxime, molestiae mollitia, necessitatibus numquam qui quidem repellendus repudiandae rerum soluta temporibus tenetur velit voluptatibus. Animi aperiam architecto aspernatur dolores ea fugiat incidunt ipsum, nemo nihil, quam sit voluptatibus! A ab alias aperiam atque culpa, cupiditate debitis dignissimos dolorum, eligendi explicabo magni minus modi nesciunt nobis perspiciatis placeat quia repudiandae sit ut vero. Ad commodi totam ut! Animi aut dicta doloribus error facilis minus obcaecati quaerat quibusdam quis quo ratione, reprehenderit suscipit vel! Alias dolore ducimus ea eaque et eveniet illo illum in inventore ipsa itaque minus natus nesciunt nobis numquam placeat qui quibusdam ratione sapiente, soluta tempore.</p>
            </div>
        </div>
        <a class="col-12 text-center fs-1 my-5 text-decoration-none" href=" {{ path('adherent_alert_create') }} ">Rédiger une nouvelle Alerte Inclusion</a>
    </div>




{% endblock %}



