{% extends 'base.html.twig' %}

{% block title %}Gestion Adhérent{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <h1 class="col-12 text-center my-5">Gestion de {{ app.user.pseudo  }}</h1>


        </div>
    </div>


{% endblock %}